* {
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 13px;
    font-family: inter, sans-serif;
}
body {
    margin: 0em; 
}

.navbar-content {
    flex-grow: 0;
}

.nav-link {
    font-size: large;
}

.nav-link:hover {
    background-color: darkorange;
}
/* 
.row-container {
    padding: 3rem;
} */

#rc1 {
    background-image: url("assets/water_floyd_background.jpeg");
    background-size: cover;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.carousel-item img{
    border-radius: 1rem;
}

.carousel-caption {
    border-radius: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
}

#navbar {
    /*display: flex;
    justify-content: space-between;
    border-bottom: 0.0625em solid gray; 
    padding: 1.1em 8em; 
    position: sticky;*/
    /* top: 0em; */
    background-color:royalblue;
}

div#navbar-right {
    display: flex;
    align-items: center;
}

#rc2 {
    background-color: #201b24;
}

#header-1 {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)); */
    color: #d9d9d9;
    padding: 5rem;
}

#header-1 h3 {
    text-align: center;
}

#bg-img-container {
    background-image: url("assets/premise.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 80px);
    background-position: center center;
    justify-content: center;
}

footer {
    background-color: #201b24;
    padding: 3em;
    color: white;
}
footer div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0em 2em;
}
footer p {
    padding: 1em 0em;
}
.footer-item img {
    vertical-align: top;
    width: 15em;
    height: 7em;
    image-rendering: auto;
}
.footer-item {
    align-items: center;
}
.link a {
    font-weight: 600;
    color: #d9d9d9;
    cursor: pointer;
    text-decoration: white;
    font-size: 1.1em;
}
#footer-p {
    width: 23em;
    resize: horizontal;
    overflow: auto;
    font-size: 0.9em;
}


@media only screen and (min-width: 350px) and (max-width: 500px) {
    html {
        font-size: 7px;
    }
    .row-container-main-content {
        flex-direction: column;
        align-items: center;
    }
    .row-container-content {
        flex-direction: column;
        align-items: center;
    }
    
    #navbar {
        flex-direction: column;
    }
    
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
    html {
        font-size: 8px;
    }
    .row-container-main-content {
        flex-direction: column;
        align-items: center;
    }
    .row-container-content {
        flex-direction: column;
        align-items: center;
    }
    
    #navbar {
        flex-direction: column;
    }
    
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}
/* 
@media (width <= 1100px) {
    html {
        font-size: 11px;
    }
}

@media (width >= 2700px) {
    html {
        font-size: 20px;
    }
}

@media (width >= 3100px) {
    html {
        font-size: 32px;
    }
} */